{% extends ('/site/master-single.html.twig') %}


{% block menu %}
    <ul>
        <li><a href="{{ path('home') }}">Inicio</a></li>
        <li><a href="{{ path('admin_post') }}">Painel Admin</a></li>
        {% for c in categories %}
            <li><a href="{{ path('category_site', {'slug': c.slug}) }}">{{ c.name }}</a></li>
        {% endfor %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('login') }}">Login</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block body%}

    <article id="main" class="special">
        <header>
            <h2><a href="#">{{ post.tittle }}</a></h2>
            <p>
                {{ post.description }}
            </p>
        </header>
        <a href="#" class="image featured"><img src="home/images/pic06.jpg" alt="" /></a>
        <p>
            {{ post.content }}
        </p>

    </article>

{% endblock %}